# This workflow will install Python dependencies, run style checks, linting,
# and tests on a variety of Python versions and operating systems.

name: build

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO: os: [ubuntu-latest, macos-latest, windows-latest]
        # TODO: then above, runs-on: ${{ matrix.os }}
        # TODO: python-version: ['3.5', '3.6', '3.7', '3.8']
        python-version: ['3.8']
        # TODO: framework-type: ['tensorflow', 'pytorch']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install black flake8 pytest pytest-cov
        python -m pip install -r requirements.txt
        # TODO: um don't we have to actually install probflow somewhere?
        # TODO: step to install either tensorflow or pytorch ${{ matrix.framework-type }}
    - name: Style checks with black
      run: |
        black --check src/probflow tests
    - name: Lint with flake8
      run: |
        flake8 src/probflow tests
    #- name: Test with pytest
    #  run: |
    #    pytest tests/unit
    #    # TODO: only run tests for appropriate framework, e.g.
    #    # pytest tests/unit/${{ framework-type }}
    # TODO: push coverage to codecov (and have cov generated above)

# TODO: in another workflow, and only on commits into master, auto bumpversion and build/push to pyp
